/* Chrome, Safari, Edge, Opera */
html,
body,
#app,
#app > div {
  height: 100%;
  overflow-y: hidden;
  background-color: #FEFAE0;
}

#root {
  overflow-y: auto;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  color: #606C38;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.opnav {
  background-color: #283618;
  /* min-height: calc(100vh - 32px); */
  overflow-x: hidden;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /* top: 32px; */
  position: fixed;
}

.historynav {
  background-color: #283618;
  /* min-height: calc(100vh - 32px); */
  overflow-x: hidden;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /* top: 32px; */
  position: fixed;
  right: 0;
}

.topnav {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #283618;
  background-color: #DDA15E;
  align-items: center;
}

button,
input {
  font-family: "Courier New", Courier, monospace;
  background-color: #DDA15E;
  border: none;
  font-size: 1em;
  color: #11270b;
  border-radius: 4px;
}

input:hover,
button:hover {
  background-color: #ecad65;
}

input:disabled,
button:disabled {
  color: black;
  opacity: 1;
  background-color: #BC6C25;
}

.op-button {
  margin: 10px;
  margin-bottom: 0px;
  border-style: solid;
  background-color: #BC6C25;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change1 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  -webkit-transform: translate(0px, 8px);
  transform: translate(0px, 8px);
}

.change2 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  opacity: 0;
}

.change3 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  -webkit-transform: translate(0px, -8px);
  transform: translate(0px, -8px);
}

.topnavbutton {
  background-color: #DDA15E;
  display: flex;
  justify-content: "space-between";
  align-items: center;
  border: none;
  font-size: medium;
}

.topnavbutton:hover {
  background-color: #BC6C25;
}

.subbar {
  width: 20px;
  height: 2px;
  background-color: #BC6C25;
}

.addbar1 {
  width: 20px;
  height: 2px;
  background-color: #BC6C25;
}

.addbar2 {
  width: 2px;
  height: 20px;
  -webkit-transform: translate(9px, -11x);
  transform: translate(9px, -11px);
  background-color: #BC6C25;
}

.addbar {
  transform: translate(0px, 3px);
}

.mulbar {
  transform: translate(-7px, 0px) rotate(45deg);
}

.calculator-symbol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}

.calculator-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 5px;
}

.calculator-error {
  display: flex;
  justify-content: center;
  color: #ff0033;
  padding: 10px;
}

.calculator-button {
  display: flex;
  justify-content: center;
}

@keyframes sidenavOpenAnimation {
  from {
    width: 0%;
  }
  to {
    width: 15em;
  }
}

@keyframes sidenavCloseAnimation {
  from {
    width: 15em;
  }
  to {
    width: 0%;
  }
}

@media screen and (max-width: 600px) {
  .topnav {
    font-size: 0.5em;
  }

  @keyframes sidenavOpenAnimation {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }

  @keyframes sidenavCloseAnimation {
    from {
      width: 80%;
    }
    to {
      width: 0%;
    }
  }
}
