/* Chrome, Safari, Edge, Opera */
html,
body,
#app,
#app > div {
  height: 100%;
  font-size: 1em;
}
#root {
  overflow-y: hidden;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.opnav {
  background-color: brown;
  min-height: calc(100vh - 21px);
  overflow-x: hidden;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  top: 21px;
  position: relative;
}

.historynav {
  background-color: yellow;
  min-height: calc(100vh - 21px);
  overflow-x: hidden;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  top: 21px;
  position: fixed;
  right: 0;
}

.topnav {
  position: fixed;
  width: 100vw;
}

.calculator {
  margin-top: 21px;
  flex-grow: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes sidenavOpenAnimation {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}

@keyframes sidenavCloseAnimation {
  from {
    width: 25%;
  }
  to {
    width: 0%;
  }
}

@media screen and (max-width: 600px) {
  .opnav {
    top: 21px;
    position: fixed;
  }

  #root {
    overflow-y: scroll;
  }

  @keyframes sidenavOpenAnimation {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }

  @keyframes sidenavCloseAnimation {
    from {
      width: 80%;
    }
    to {
      width: 0%;
    }
  }
}
